<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Transport" class="com.lahtachev.objects.Transport">
        <constructor-arg value="4"/>
    </bean>

    <bean id="DefaultCar" class="com.lahtachev.objects.DefaultCar" parent="Transport">
        <constructor-arg value="vaz-2101"/>
    </bean>

    <bean id="Airplane" class="com.lahtachev.objects.Airplane" parent="Transport">
        <constructor-arg value="Cessna-172"/>
    </bean>
</beans>